extends layout

block content

  .container-fluid
    .row
      .well.text-center
        h2#text-helper #{textJumbotronHeader}
    .row
      p.text-center#text-how #{textDescription} 

        .col-md-4.col-md-offset-4(style='padding-top: 75px;')
          form
            .col-md-12.text-center
              h4 #{labelCurrentBid}
              h1#bid-price #{labelBidPrice}
            .form-group
              label(for='text')
              input#bid-text.form-control(type='text')
          .row
            .col-md-12.text-center
              button#btn-hide.btn.btn-outline(type='submit') #{btnLabelBid}

    footer
      p.left
        | #{iconResponse}
        | client_id: #{labelClientID}     
      p.center.cursive
        | made with 
        i.fa.fa-heart.icon(aria-hidden='true')
        |  by ip engineering