extends layout

block content


    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
                | Vauction Admin
          li
            a(href='#') End Auction

    #page-content-wrapper
      .container-fluid
        .row
          .well.text-center
            h2#text-helper #{textJumbotronHeader}
        .row
          p.text-center#text-how #{textDescription} 

            .col-md-4.col-md-offset-4(style='padding-top: 75px;')
              form#bid-form
                .col-md-12.text-center
                  h4 #{labelCurrentBid}
                  h1#bid-price #{labelBidPrice}
                .form-group
                  label(for='text')
                  input#bid-text.form-control(type='text')
              .row
                .col-md-12.text-center
                  button#btn-hide.btn.btn-outline #{btnLabelBid}

        footer
          p.left
            form#passcode-form(style="display: none")
              .form-group
                input(type='text', id='txtPasscode')
                button#btn.btn-outline(name='btnPair') Pair
            a.pair-no(href="#", onclick="$('#passcode-form').show()")
            p#client-id
          p.center.cursive
            | made with 
            i.fa.fa-heart.icon(aria-hidden='true')
            |  by ip engineering
          p.right
            a#menu-toggle.btn-menu(href='#menu-toggle') Hidden Menu