extends layout

block content

    style(type='text/css').
        body {background-color: #324D5C;color: #fff;} 

    .jumbotron.text-center(style='background-color: rgba(255,255,255, 0.1);')
      .container
        h2 #{headerTitle}

    .row
    p.text-center #{description} 

      .col-md-4.col-md-offset-4(style='padding-top: 150px; padding-left: 50px; padding-right: 50px')
        form
          .col-md-12.text-center
            h4 #{currenBid}
            h1 #{bidPrice}
          .form-group
            label(for='text')
            input#text.form-control(type='text')
          .col-md-12.text-center
            button.btn.btn-outline(type='submit') #{btnBid}

            .row
                .text-center(style='padding-top: 100px;')
                    span #{pairResponse}
                    h5 client_id #{clientId} 

    footer
      div(style='text-align:center')
        p
          | made with 
          i.fa.fa-heart.icon(aria-hidden='true') 
          |  by ip engineering