extends layout

block content

    style(type='text/css').
        body {background-color: #324D5C;color: #fff;} 

    .jumbotron.text-center(style='background-color: rgba(255,255,255, 0.1);')
      .container
        h2 #{textJumbotronHeader}

      .center
        .col-md-12
          .clock

    .row(style='padding-top: 25px')
    p.text-center #{textDescription} 

      .col-md-4.col-md-offset-4(style='padding-top: 50px; padding-left: 50px; padding-right: 50px')
        form
          .col-md-12.text-center
            h4 #{labelCurrentBid}
            h1#bid-price #{labelBidPrice}
          .form-group
            label(for='text')
            input#bid-text.form-control(type='text')
          .col-md-12.text-center
            button.btn.btn-outline(type='submit') #{btnLabelBid}

            .row
                .text-center(style='padding-top: 50px;')
                    span #{iconResponse}
                    h5 client_id: #{labelClientID} 

    footer
      div(style='text-align:center')
        p
          | made with 
          i.fa.fa-heart.icon(aria-hidden='true') 
          |  by ip engineering