extends layout

block content


    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
                | Vauction Admin
          li
            a(href='#') End Auction

    #page-content-wrapper
      .container-fluid
        .row
          .well.text-center
            h2#text-helper #{textJumbotronHeader}
        .row
      

            .col-md-4.col-md-offset-4
              form#bid-form
                .col-md-12.text-center
                  h4 #{labelCurrentBid}
                  h1#bid-price #{labelBidPrice}
                .form-group
                  label(for='text')
                  input#bid-text.form-control(type='number')
              .row
                .col-md-12.text-center
                  button#btn-hide.btn.btn-outline #{btnLabelBid}        
              .row
                .col-md-4.col-md-offset-4 
                  form#passcode-form(style="display: none")
                    br
                    .form-group
                      input.form-control-small(type='number', id='txtPasscode')
                      button#btn.btn.btn-small(name='btnPair') Pair
                      p.text-center#client-id(style='font-size: 8px')
                
              .row      
                p.text-center#text-how #{textDescription} 
        footer
          p.left
            a.pair-no(href="#", onclick="$('#passcode-form').show()")
          p.center.cursive
            | made with 
            i.fa.fa-heart.icon(aria-hidden='true')
            |  by ip engineering
          p.right
            a#menu-toggle.btn-menu(href='#menu-toggle') HIDDEN MENU